body {
  margin: 0;
}

.navbar-dark {
  background-color: #2c2c54 !important;
}

.card {
  background-color: #2c2c54;
  color: white;
  border-radius: 15px;
}

@media (min-width: 992px) {
  .flex-grow-1 {
    margin-left: 250px !important;
  }
}

.nav-link.active {
  background-color: #e9ecef;
  color: #2c2c54 !important;
  font-weight: bold;
}